@tailwind base;
@tailwind components;
@tailwind utilities;



@media (min-width: 1024px) {
    .menu-bar::after{
        position: absolute;
        content: "";
        height: 4px;
        width: 0%;
        background-color: white;
        left: 0;
        bottom: 0;
        transition: 0.5s;
        -webkit-transition: 0.5s;
        -moz-transition: 0.5s;
        -ms-transition: 0.5s;
        -o-transition: 0.5s;
    }
    .menu-bar:hover::after{
    width: 100%;
    }
    .banner-after::after{
        position: absolute;
        content: "";
        height: 2px;
        width: 0%;
        background-color: white;
        left: 0;
        top: 0;
        transition: 0.5s;
        -webkit-transition: 0.5s;
        -moz-transition: 0.5s;
        -ms-transition: 0.5s;
        -o-transition: 0.5s;
}
.banner-after:hover::after{
    width: 100%;
}
}












